body{
    font-family: Impact, Arial;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.menu{
    padding: 20pt;
    text-align: center;
    background-color: #885add;
    box-shadow: 9px 9px 9px black;
}
.menu a{
    margin-right: 32px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
a{
    color: black;
    font-family: Arial;
    text-decoration: none;
}
.posts-vid legend{
    font-size: 20pt;
}
.card{
    transition: all 150ms;
    display: inline-block;
    width: 200pt;
    text-align: center;
    font-family: Arial;
    background-color: white;
    margin: 20pt;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 4px 4px 4px #666666;
    border-radius: 23px;
}
.card h1{
    font-family: Arial;
    font-size: 18pt;
}
.posts{
    text-align: center;
}
.card img{
    width: 350px;
}
.post{
    padding: 5px;
    color: black;
    font-family: Arial;
    width: 500px;
    display: inline-block;
    text-align: center;
    margin: 20pt;
    background-color: white;
    border: 9px solid black;
    border-radius: 23px;
}
.post h3{
    word-break: break-all;
}
.card:hover{
    box-shadow: 18px 18px 18px #666666;
}
fieldset{
    margin: 32px;
    border: 4px solid black;
    border-radius: 25px;
}
video{
    border: 9px solid rgb(187, 187, 187);
    width: 658px;
    height: 338px;
}
.logo{
    margin: 0;
    padding: 0;
    height: 259px;
    background-image: url("img/banner.png");
    border: 1px solid black;
}
@media screen and (max-width: 732px){

    .card{
        width: 80%;
        border-radius: 23px;
    }
    .card img{
        width: 60%;
    }
    .post{
        width: 80%;
        border-radius: 23px;
    }
}